/* Primary Styles */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #ffff;
  height:100%;
}

body {
  font-size: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  max-width: 1800px;

  margin-top: 60px;
}

.main h1 {
  width: 50%;
  font-family: "Merriweather", serif;
  max-width: 1000px;
  margin-left: 13%;
  line-height: 1.5;
  color: black;
  font-size: 4.5rem;
  text-align: left;
  margin-bottom: 1em;
  padding-top: 3em;
  font-weight: 300;
}

.main h3 {
  width: 50%;
  font-family: "Fira Sans", serif;
  max-width: 1000px;
  margin-left: 13%;
  line-height: 1.5;
  color: black;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1em;
  font-weight: 400;
  padding-top: 1em;
}

.main h2 {
  width: 35%;
  font-family: "Fira Sans", serif;
  max-width: 1000px;
  margin-left: 13%;
  line-height: 1;
  color: #689880;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 35px;
  font-weight: 400;
  margin-top: -1.5em;
}
h3 {
  width: 80%;
  line-height: 2em;
  font-family: "Merriweather", serif;
  color: black;
  font-weight: 200;
  max-width: 1000px;
  text-align: left;
  margin-left: 13%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 4.5rem;
}
.main h4 {
  width: 35%;
  font-family: "Fira Sans", serif;
  max-width: 1000px;
  line-height: 1;
  color: #e14658;
  font-size: 1em;
  padding-left: 40px;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
}

h4 {
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: #ef4b4b;
  font-weight: 400;
  font-size: 1em;
  padding-left: 40px;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
}

h5 {
  width: 35%;
  font-family: "Fira Sans", serif;
  max-width: 1000px;
  line-height: 1;
  color: #689880;
  font-size: .75em;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h5.caption {
      width: 100%;
      line-height: 2em;
      font-family: "Fira Sans", serif;
      color: black;
      font-weight: 200;
      max-width: 1000px;
      text-align: left;
      font-size: 1.25em;
      padding-top: 8px;
      text-transform: none;
      letter-spacing: normal;
      position: absolute;
      margin-left: 10%;
      z-index:10;
}
p {
  width: 40%;
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: black;
  font-weight: 200;
  max-width: 1000px;
  text-align: left;
  margin: auto;
  margin-bottom: 3em;
  font-size: 1.25em;
}
p.left-aligned {
  width: 40%;
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: black;
  font-weight: 200;
  max-width: 1000px;
  text-align: left;
  margin-bottom: 3em;
  font-size: 1.25em;
  margin: 0;
  margin-left: 13%;
}

.quote {
  width: 80%;
  line-height: 2em;
  font-family: "Merriweather", serif;
  color: black;
  font-weight: 200;
  max-width: 1000px;
  text-align: left;
  margin: auto;
  font-size: 4.5rem;
}
.quote-background {
  width: 100%;
  line-height: 2em;
  font-family: "Merriweather", serif;
  color: white;
  font-weight: 200;
  text-align: center;
  padding: 3em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 4.5rem;
  background-image: url(img/img-pattern-larger-02.png);
background-repeat: repeat;
background-attachment: fixed;
background-position: center;
}

p a {
  /* target primary-nav links */
  position: relative;
  text-decoration: none;
  height: 50px;
  color: black;
  border-bottom: solid 2px #689880;
}

a.image {
  padding-left: 0px;
}

img.icon {
  float:left;
  margin-left: -2.5em;
  margin-top: 1.5em;
}
img.icon-lodging {
  float:left;
  margin-right: 1em;
  margin-top: 1em;
  width: 5%;
  z-index: 10;
  position: absolute;
}

img.homepage {
  width:100%;
  position: relative;
}
.homepage {
  width:80%;
  height: 70%;
  overflow: hidden;
}
.img-slider img {
  width:100%;
}

.img-caption {
    font-family: "Fira Sans", serif;
    color: gray;
    font-weight: 400;
    text-align: left;
    margin: auto;
    margin-top: 1em;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.img-caption-style-2 {
    font-family: "Fira Sans", serif;
    color: gray;
    font-weight: 400;
    text-align: left;
    margin-left: 3%;
    margin-top: 1em;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .5px;
}
/* Intro paragraph 2 columns */
.leftdetails {
  float:left;
  margin-left: 13%;
  margin-top: 4px;
    height: 100px;
  }
.color-block {
  background-color: #eaf8f5;
  height: 300px;
  width: 40%;
  margin-top: 10%;
  margin-left: -3%;
  position: relative;
}
.color-block-2 {
  background-color: #eaf8f5;
  height: 300px;
  width: 40%;
  margin-top: 10%;
  margin-left: 38%;
  position: relative;
}
.color-block-3 {
  background-color: #eaf8f5;
  height: 300px;
  width: 40%;
  margin-top: 46%;
  margin-left: -3%;
  position: relative;
  display: none;
}

.location {
  float:none;
}

.date {
  float:none;
}

.leftdetails p {
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: black;
  font-weight: 200;
  max-width: 180px;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.25em;
  margin-left: 0;
  width: 100%;
  line-height: 1.5;
  padding-top:.5em;
}
p.rightparagraph {
  float:left;
  width: 40%;
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: black;
  font-weight: 200;
  max-width: 1000px;
  text-align: left;
  margin-bottom: 3em;
  font-size: 1.25em;
}

p.below {
  margin-top: 5em;
  margin-bottom: 5em;
}
p.middle {
  margin-top: 3em;
  margin-bottom: 3em;
}
footer {
clear: both;
bottom:0;
width:100%;
height:60px;
margin-top: 5em;  /* Height of the footer */

}
.footer-links {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
footer > ul li {
  display: inline-block;
  float: left;
  margin-right: 1.5em;
}

footer > ul a {
  /* reset mobile style */
  height: auto;
  font-size: 14px;
  line-height: normal;
  padding: .2em .4em;
  border-style: solid;
  border-color: white;
}

footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: #22252C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}


/* Images with white block overlays */
#two-green a, #two-mobile a {
  text-decoration: none;
  border-bottom: solid 2px #598b73;
  line-height: 1.5;
  display: inline-block;
  color: black;
  position: relative;
  -o-transition:.2s;
 -ms-transition:.2s;
 -moz-transition:.2s;
 -webkit-transition:.2s;
 transition:.2s;
}

#two-green a:before, #two-mobile a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: #598b73;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


#two-full-width a , #two-full-width-mobile a, .date a {
  text-decoration: none;
  border-bottom: solid 2px #689880;
  line-height: 1.5;
  display: inline-block;
  color: black;
  position: relative;
  -o-transition:.2s;
 -ms-transition:.2s;
 -moz-transition:.2s;
 -webkit-transition:.2s;
 transition:.2s;
}

#two-full-width a:before , #two-full-width-mobile a:before , #two-mobile a:before, .date a:hover{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: #689880;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#two a:hover:before, #two-full-width a:hover:before, #two-full-width-mobile a:hover:before , #two-mobile a:hover:before, .date a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}

h3.two{
  font-family: "Merriweather", Serif;
  font-size: 3.3rem;
  font-weight: 300;
  padding-left: 40px;
  width: 95%;
  color: black;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-left: 0;
  padding-left: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h3.two-full-width{
  font-family: "Merriweather", Serif;
  font-size: 3.3rem;
  font-weight: 300;
  padding-left: 40px;
  width: 95%;
  color: black;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-left: 0;
  padding-left: 40px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.two {
  font-family: "Merriweather", Serif;
  font-size: 3.3rem;
  font-weight: 300;
  padding-left: 40px;
  width: 95%;
  color: black;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-left: 0;
  padding-left: 40px;
}

img.one {
  width:100%;
  position: relative;
  top: 0px;
}
.intro-1 {
  padding-top: 20em;
  padding-bottom: 3em;
  width:100%;
  margin-top: -20em;
  margin-bottom: 5em;
  background-image: url(img/img-pattern-larger-02.png);
background-repeat: repeat;
background-attachment: fixed;
background-position: center;
}
.intro-1 p, .intro-orange p,.intro-orange-less-padding p {
  color: white;
}
.intro-1 h5, .intro-orange h5, .intro-orange-less-padding h5{
  color:#689880;
}

.intro-2 {
  background-color: rgb(231, 245, 238);
  padding-top: 5em;
  padding-bottom: 8em;
  margin-top: -15em;
  margin-right: 0em;
  margin-left:10%;
  width:80%;
}
.intro-two-col {
  background-color: rgb(231, 245, 238);
  float:left;
  padding-top: 5em;
  padding-bottom: 8em;
  margin-top: -15em;
  margin-right: 0em;
  margin-left:10%;
  width:90%;
}

.intro-2-less-padding {
  background-color: rgb(231, 245, 238);
  padding-top: 10em;
  padding-bottom: 2em;
  width:100%;
  margin-top: -10em;
  margin-bottom: 0em;
}
.rightparagraph p {
  width: 40%;
  margin-left: 40%;
}
/* List on Goals page */
#list p {
  width:80%;
  margin-left: 13%;
  color: #639b80;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 600;
  letter-spacing: .5px;
}

#list h1 {
  padding-top: 0em;
  color:white;
  width: 35%;
  font-family: "Merriweather", serif;
  max-width: 1000px;
  margin-left: 13%;
  line-height: 1.5;
  color: white;
  font-size: 4.5rem;
  text-align: left;
  margin-bottom: 1em;
  padding-top: 0em;
  font-weight: 300;
}
#list h2 {
  color:white;
  width: 35%;
  font-family: "Fira Sans", serif;
  max-width: 1000px;
  margin-left: 13%;
  line-height: 1;
  color: white;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 35px;
  font-weight: 400;
  margin-top: -1.5em;
}

#list {
  background-color: #598b73;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 0em;
}

#list a {
  text-decoration: none;
  color: white;
  position: relative;
  -o-transition:.2s;
 -ms-transition:.2s;
 -moz-transition:.2s;
 -webkit-transition:.2s;
 transition:.2s;
}

#list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer!important;
}

#list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#list a {
  color: white;
  border-bottom: solid 2px transparent;

}
#list a:visited {
}

#list a:hover {
}

.inner {
  display: inline-block;
  position: relative;
}
.wrapper {
  overflow:hidden;
  padding-top: 0px;
  padding-bottom: 70px;
  margin-bottom: 80px;
  margin-top: 5em;
}
.wrapper-right {
  overflow:hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 80px;
  margin-top: 5em;
}

.wrapper div {
   min-height: 200px;
}

.wrappermain {
  overflow:hidden;
  padding-top: 0px;
  margin-top: -4em;
  margin-bottom: 5em;
}

.wrappermain-two-col {
  overflow:hidden;
  padding-top: 0px;
  margin-top: -4em;
  margin-bottom: 0em;
  margin-left: 13%;
}
.wrapper-intro {
  overflow:hidden;
  padding-top: 0px;
  margin-top: 5em;
  margin-bottom: 5em;

}

.wrapper-side-by {
  overflow:hidden;
  float: left;
  padding-top: 0px;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 33.33%;
  padding:20px;
   height: 380px;
}


img.preview-side-by {
  width:100%;
  position: relative;
  top: 0px;
}

#onemain-1 {
  width:80%;
  height: 70%;
  overflow: hidden;
  margin-left: 3%;
}
#onemain-2 {
float:right;
  width:80%;
  height: 700px;
}
#onemain-3 {
margin: auto;
  width:80%;
  height: 700px;
}

#onemain-4 {
  float:right;
  width:50%;
margin-right: 10em;
  height: 500px;
}

#onemain-two-col {
  float:left;
  width:46%;
  margin-left: -1.5em;
  height: 500px;
  margin-bottom: -3em;
  margin-right: 3em;
}
.leftdetails-4 {
  float: none;
  margin-left: 6%;
  margin-top: 4px;
  height: 100px;
}

.leftdetails-4 p {
  line-height: 2em;
  font-family: "Fira Sans", serif;
  color: black;
  font-weight: 200;
  max-width: 180px;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.25em;
  margin-left: 0;
  width: 100%;
  line-height: 1.5;
  padding-top:.5em;
}

img.previewmain {
  width:100%;
  position: relative;
}

img.previewmain-2 {
  width:100%;
  position: relative;
  top: -90px;
}

#one-side-by {
  max-height: 500px;
}

#one {
  float:left;
  width:80%;
  max-height: 500px;
}
#two-green {
  overflow:hidden;
  position: absolute;
  margin-left: 38%;
  margin-top: 90px;
  min-height:170px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  background-color: white;
  margin-right: 10em;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#two-mobile {
  display:none;
}

#one-full-width {
  float:left;
  width:90%;
  max-height: 500px;
  overflow: hidden;
}
#two-full-width {
  overflow:hidden;
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 80px;
  min-height:170px;
  padding-top: 0px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 30px;
  background-color: white;
}

#two-full-width-mobile {
  display: none;
}
.arrow-green {
    margin-left:13%;
    bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 1em;
    color:#598b73;
    -webkit-animation: bounce 6s infinite ease-in-out;
}
.arrow-orange {
    margin-left:13%;
    bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 1em;
    color:#689880;
    -webkit-animation: bounce 6s infinite ease-in-out;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@media screen and (max-width: 1200px) {
   #one {
    float: none;
    width:100%;
    border:0;
  }
  #onemain-1, #onemain-2, #onemain-3 {
   float: none;
   width:100%;
   border:0;
 }
 #one-side-by {
  height: 300px;
}
.two {
  padding-left: 40px;
  margin-top: 1em;
  margin-left: 0px;
}
.img-caption-style-2 {
    text-align: right;
    margin-right: 2em;
}
.wrappermain-two-col {
  overflow:hidden;
  padding-top: 0px;
  margin-top: -4em;
  margin-bottom: 0em;
  margin-left: 8%;
}
#onemain-two-col {
  margin-bottom: 0em;
  margin-left: 0em;
  height: inherit;
}
img.preview-side-by {
  top:-70%;
}
.location {
  float:left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right:30px;

}
.date {
  float:left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 70px;
  padding-left: 1.5em;
}

.wrappermain {
  margin-bottom: 2em;
}

.leftdetails {
  float: none;
  margin-left: 13%;
  margin-top: 4px;
  height: 100px;
}
.leftdetails p {
  max-width: 400px;
}
.leftdetails-4 {
  padding-top: 4em;
}
 .wrapper-side-by {
   overflow:hidden;
   float: none;
   padding-top: 0px;
   margin-top: 3em;
   margin-bottom: 0em;
   width: 100%;
   padding:20px;
 }

  #two-green {
    padding-left: 40px;
    border:0;
    left:10%;
    right:10%;
    margin:0 auto;
    padding-right: 40px;
    position: absolute;
    margin-top: -300px;
    padding-bottom: 80px;
    width: 80%;

 }
 #two-full-width {
   overflow:hidden;
   position: absolute;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 60px;
   min-height:170px;
   padding-top: 0px;
   padding-bottom: 70px;
   padding-left: 35px;
   padding-right: 30px;
   background-color: white;
 }
 p.below {
   margin-top: 5em;
 }
 p {
   width:50%;
 }

 .right {
   padding-left: 0px;
   width:100%;
 }
 .wrapper div {
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 0px;
 }
 h4 {
   padding-left: 40px;
   padding-top: 0em;
}
#end {
  padding-top: 100px;
}
img.preview {
  top: -80px;
}
}

/* FOOTER */

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.fade-in.four {
-webkit-animation-delay: 2.0s;
-moz-animation-delay: 2.0s;
animation-delay: 2.0s;
}



#fade  {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#wrapper {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.animateBlock {
  margin-top: 20px;
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animateBlock.left {
  left: -20%;
}

.animateBlock.right {
  right: -20%;
}

.left.animated {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.right.animated {
  right: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}

#Txt {
  width: 300px;
  padding-left: 15px;
  padding-top: 12px;
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}


/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;

  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}


.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 15%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
  width: 60%;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 6px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {

}
.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 15%;
}

.footer {
  padding-bottom: 4em;
  padding-top: 4em;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  position: relative;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 15%;
  color: black;
}

.cd-primary-nav > ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: #689880;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.cd-primary-nav > ul a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cd-primary-nav li a.active {
  display: block;
  border-bottom: solid 2px #689880;
}



@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    font-size: 14px;
    line-height: normal;
    padding: .2em .4em;
    border-style: solid;
    border-color: white;
    -o-transition:.2s;
   -ms-transition:.2s;
   -moz-transition:.2s;
   -webkit-transition:.2s;
   /* ...and now for the proper property */
   transition:.2s;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}





/*Slider*/



.cd-filter {
  /* SVG animation style switcher - not needed in production */
  margin-top: 1em;
  text-align: center;
}
.cd-filter li {
  display: inline-block;
  margin: 4px;
}
.cd-filter a {
  display: block;
  border-bottom: 2px solid rgba(76, 92, 98, 0);
  padding: .8em 1em;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #4c5c62;
}
.no-touch .cd-filter a:hover {
  border-bottom: 2px solid rgba(76, 92, 98, 0.6);
}
.cd-filter a.selected {
  color: #00A7E1;
  border-bottom: 2px solid rgba(0, 167, 225, 0.4);
}
.no-touch .cd-filter a.selected:hover {
  border-bottom: 2px solid rgba(0, 167, 225, 0.4);
}
@media only screen and (min-width: 768px) {
  .cd-filter {
    margin-top: 2em;
  }
}

/* --------------------------------

Slider

-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  width: 80%;
  max-width: 1600px;
  margin: 2em auto;
  margin-left: 3%;
  /* hide horizontal scrollbar on IE11 */
  margin-top: 5em;
  margin-bottom: 5em;
}

.cd-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  /* hide vertical scrollbar on IE11 */
  overflow: hidden;
}
.cd-slider > li.visible {
  position: relative;
  z-index: 2;
  opacity: 1;
}
.cd-slider > li.is-animating {
  z-index: 3;
  opacity: 1;
}

.cd-slider .cd-svg-wrapper {
  /* using padding Hack to fix bug on IE - svg height not properly calculated */
  height: 0;
  padding-bottom: 57.15%;
}

.cd-slider-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------------------------

Slider navigation

-------------------------------- */
.cd-slider-navigation li {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  height: 48px;
  width: 48px;
  background-color: white;
  padding: 10px;
}
.cd-slider-navigation li a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: url(../img/cd-icon-arrows.svg) no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.no-touch .cd-slider-navigation li a:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.cd-slider-navigation li:last-of-type {
  right: 48px;
}
.cd-slider-navigation li:last-of-type a {
  background-position: -48px 0;
}

/* --------------------------------

Slider dots/controls

-------------------------------- */
.cd-slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 90%;
}
.cd-slider-controls::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-controls li {
  display: inline-block;
  margin-right: 10px;
}
.cd-slider-controls li:last-of-type {
  margin-right: 0;
}
.cd-slider-controls li.selected a {
  background-color: #ffffff;
}
.cd-slider-controls a {
  display: block;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.no-touch .cd-slider-controls a:hover {
  background-color: #ffffff;
}


/*------------------------------------*\
Gallery Styles
\*------------------------------------*/
.m-p-g {
  max-width: 100%;
  margin: 0 auto;
  z-index: 100;
}
.m-p-g__thumbs-img {
  margin: 0;
  float: left;
  vertical-align: bottom;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, transform;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__thumbs-img.active {
  z-index: 50;
}
.m-p-g__thumbs-img.layout-completed {
  opacity: 1;
  padding: 10px;
}
.m-p-g__thumbs-img.hide {
  opacity: 0;
}
.m-p-g__thumbs-img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
.m-p-g__fullscreen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  visibility: hidden;
  -webkit-transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  will-change: background, visibility;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.m-p-g__fullscreen.active {
  -webkit-transition: background .25s ease-out, visibility .01s 0s linear;
  transition: background .25s ease-out, visibility .01s 0s linear;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
}
.m-p-g__fullscreen-img {
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  max-width: 100%;
  visibility: hidden;
  will-change: visibility;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.m-p-g__fullscreen-img.active {
  visibility: visible;
  opacity: 1 !important;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__fullscreen-img.almost-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}
.m-p-g__controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 20vh;
  background: -webkit-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__controls.active {
  opacity: 1;
  visibility: visible;
}
.m-p-g__controls-close, .m-p-g__controls-arrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
}
.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
  outline: none;
}
.m-p-g__controls-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
}
.m-p-g__controls-arrow:hover {
  opacity: 1;
}
.m-p-g__controls-arrow--prev {
  left: 0;
  padding-left: 3vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.m-p-g__controls-arrow--next {
  right: 0;
  padding-right: 3vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.m-p-g__controls-close {
  position: absolute;
  top: 3vh;
  left: 3vw;
  z-index: 5;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.m-p-g__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.m-p-g__btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.m-p-g__alertBox {
  position: fixed;
  z-index: 999;
  max-width: 700px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  color: grey;
}
.m-p-g__alertBox h2 {
  color: red;
}


.demo-btn {
  display: inline-block;
  margin: 0 2.5px 4vh 2.5px;
  text-decoration: none;
  color: grey;
  padding: 15px;
  line-height: 1;
  min-width: 140px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.demo-btn:hover {
  background: rgba(0, 0, 0, 0.12);
}


@media screen and (max-width: 1000px) {
.wrapper-side-by {
  margin-top: 2em;
}
.rightparagraph p {
  width: 50%;
  margin: auto;
}
#onemain-4 {
  float:right;
  width:80%;
  margin-right: 0em;
  height: 505px;
}
.intro-2 {
  padding-top: 20%;
}
img.preview-side-by {
  top: -30%;
}
.main h1 {
  width: 60%;
}
img.previewmain-2 {
  top: -50px;
}

}
@media screen and (max-width: 750px) {
  #two-green {
    width: 80%;
}
#end {
  padding-top: 150px;
}
#one-side-by {
 max-height: 0;
}


}


@media screen and (max-width: 900px) {
  #two-green {
    padding-left: 0px;
    margin-top: -5px;
    border-top: solid 0px;
}
img.previewmain-2 {
  top: -20px;
}
#one-full-width {
  float:right;
  width:100%;
  max-height: 400px;
}
h5.caption {
  padding-top: 15px;
}
.cd-slider-navigation li {
  bottom: 0px;
}
.wrapper-right {
  margin-top: 3em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  clear: both;
}
h3.two {
  padding-left: 0px;
  padding-bottom: 1em;
}
#onemain-two-col {
  margin-bottom: 0em;
  margin-left: 0em;
  float: none;
  height: inherit;
}
.wrappermain-two-col {
  margin-left: 0%;
}
#onemain-two-col {
  width: 100%;
  margin-bottom: 3em;
}
h3 {
  margin-left: 5%;
  margin-top: 3em;
}
#one-full-width {
  height:400px;
  overflow: hidden;
}
#two-full-width {
  display: none;
}

.arrow-orange {
  margin-left: 5%;
}

.arrow-green {
  margin-left: 5%;
}
#two-full-width-mobile {
  display: grid;
  overflow:hidden;
  position: relative;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 40px;
  min-height:170px;
  padding-top: 0px;
  padding-bottom: 0em;
  padding-left: 0px;
  padding-right: 0px;
  width: 80%;
  border-top: solid 0px;
}
h3.two-full-width{
  margin-left: 0;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 2em;
  margin-top: 0px;

}
#one {
  height:400px;
  overflow: hidden;
}
#two-green {
  display: none;
}
#two-mobile {
  display: grid;
  overflow:hidden;
  position: relative;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 5em;
  min-height:170px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 80%;
  border-top: solid 0px;
  margin-bottom: 4em;
}
#two-mobile h4 {
  padding-left: 0px;
  margin-top: 0em;
}
.two {
  padding-left: 0px;
  margin-top: 1em;
  margin-left: 0px;
}
.main h4 {
  padding-left: 0px;
}

.wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.cd-auto-hide-header {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
}
.cd-auto-hide-header .logo {
  left: 5%;
}
.leftdetails {
  margin-left: 5%;
}
.main h1 {
  margin-left: 5%;
  width:80%;
}
.main h2 {
  margin-left: 5%;
  width:80%;
}
.arrow {
  margin-left: 5%;
}
#list h1, #list h2 {
margin-left: 5%;
    width: 80%;
}

p, .rightparagraph p{
  width: 50%;
  margin:auto;
}
#list p {
  margin-left: 5%;
  width: 80%;
}
}
@media screen and (max-width: 700px) {
  p.below {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5%;
  }
  p.middle {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5%;
  }
  .intro-1 {
    padding-top: 13em;
  }
  .date {
    width: 100%;
  }
  .wrappermain-two-col {
    margin-left: 5%;
  }
  #onemain-4 {
    width:100%;
  margin-right: 0em;
    height: 300px;
  }
  .intro-2 {
    margin-top: -15em;
    margin-right: 0em;
    margin-left:0;
    padding-bottom: 12em;
    width:100%;
    padding-top: 15%;
  }
  .leftdetails-4 {
    margin-left: 10%;
  }
  .leftdetails {
    margin-top: 3em;
  }
  .date {
    padding-left: 0em;
  }
  .quote {
    width: 80%;
    line-height: 2em;
    font-family: "Merriweather", serif;
    color: black;
    font-weight: 200;
    max-width: 1000px;
    text-align: left;
    margin-left: 5%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 4.5rem;
  }
  .quote-background {
    padding: 1.5em;
    font-size: 3.5rem;
  }
  h3 {
    margin-left: 5%;
  }
  .main h4 {
    width:100%;
  }
  #two-full-width {
    overflow:hidden;
    position: relative;
    width:80%;
    margin:auto;
    background-color: white;
    border-top: solid 0px;
  }
  p {
    width: 80%;
    margin-left: 5%;
  }
  .wrappermain {
    height:500px;
  }
  img.preview-side-by {
    top: -40%;
  }
  .rightparagraph p {
    width: 80%;
    margin-left:5%;
  }
  #list h1, #list h2,#list p {
    margin-left: 5%;
    width: 80%;
  }

}
@media screen and (max-width: 770px) {
  .wrapper-side-by {
    margin-top: 0;
  }
  #one-side-by {
    height: 0;
  }
}

@media (max-width: 640px) {
  .demo-btn {
    min-width: 0;
    font-size: 14px;
  }
p, .rightparagraph p {
  width: 70%;
}
}

@media screen and (max-width: 600px) {
p.below {
  margin-top: 4em;
  margin-bottom: 4em;
}
.cd-slider-wrapper {
width: 95%;
margin-left: 5%;
}
.leftdetails-4 {
  margin-left: 12%;
  padding-top: 6em;
}
p.middle {
  margin-top: 3em;
  margin-bottom: 3em;
}
#one-full-width {
  height: 200px;
}
#one {
  height:200px;
}
.wrapper {
  padding-top: 0px;
}
.wrappermain {
  height:500px;
}
.wrapper-side-by {
  margin-top: .5em;
  height: 200px;
}
img.preview-side-by {
  top: -100px;
}
.main h1, .quote, h3, #list h1 {
  font-size: 4rem;
}
#list h2 {
  font-size: 2rem;
}
.two {
  font-size: 3rem;
  margin-left: 0px;
}
.intro-2 {
  margin-top: -16em;
}
}

@media screen and (max-width: 520px) {
#onemain-1 {
  height: 50%;
}
.intro-1 {
  padding-top: 8em;
}
.leftdetails {
  margin-top: 8em;
}
}
@media screen and (max-width: 487px) {
.leftdetails {
  height: 200px;
}
.main h1, .quote, #list h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
#list h2 {
  font-size: 2rem;
}
h3.two {
    font-size: 3rem;
}
.quote-background {
  font-size: 2.75rem;
}
}
@media screen and (max-width: 443px) {
.intro-2 {
  padding-bottom: 12em;
}
p, .rightparagraph p, p.below, #list p {
  width: 85%;
}
.leftdetails-4 {
  margin-left: 15%;
  padding-top: 3em;
}
}


@media screen and (max-width: 400px) {
img.preview-side-by {
  top: 0px;
}
.intro-1 {
  padding-top: 10em;
  margin-top: -20em;
}
#onemain-1 {
  height: 20%;
  padding-top: 0px;
  padding-bottom: 0px;
  top: -140px;
}
.leftdetails {
  height: 200px;
}

.leftdetails h1 {
  padding-left: 0px;
}
.hideme
{
    opacity:0;
}
img.one {
  top: -10px;
}
.intro-2 {
  margin-top: -20em;
}
.leftdetails-4 {
  padding-top: 5em;
}
}
@media screen and (max-width: 350px) {
.intro-1 {
  margin-top: -16em;
  padding-top: 5em;
}
.leftdetails-4 {
  margin-left: 18%;
}
}
