// colors

$color-1: #ff0000; // Ebony Clay
$color-2: #ff0000; // Pewter
$color-3: #ff0000; // White

// fonts

$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Fira Sans', serif;

// animation

$animation-duration: 0.7s;
